html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}


.main-wrapper {
  background-image: url(png.png);
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: contain;
  background-color: yellow;
  font-family: helvetica;
  color: pink;
  height:100%;
  width:100%;
  position:relative;
  text-align: center;
  }

  h1{
    font-size: 100px;
    font-family: windsor;


  }

  h2{
  color: green;

  }
