

body {font-family: "Helvetica", monospace;}
h1{font-family: "Helvetica", monospace;}
.container
{position: absolute;
 margin-left: 20px;
 width: 1200;
 height: 1200;
 line-height: 100em
}
.lyrics {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   position: absolute;

  }
.margin {
width: 600px;
height: 600px;
}

}

h1{font-size: 20px}
.lyrics {width: 160px;
text-align: right;
position: absolute;
right: 0px;
padding: 5em;

}


a{
  color:inherit;
  display: inline-block;
  transition: 100ms;
  padding:20em;
  border: 50px solid;
  margin: .1em;
  height:100%;
  width:100%;
  text-align:right;


}

a:hover{
  color: black
}

h2{line-height: 1.7
padding: 3em;
margin: 1px;
text-align: bottom;
}
p{font-size: 1em}

.margin, .rap, .dada, .ok, .john{

  margin: 19em;
  margin-left: 1100px;
}



body {
  background: url(pce.png);
  background-position: bottom;
  background-size: 21.8in;
  background-repeat: no-repeat;
  height:100%;
  width:100%;
  position:relative;
  background-clip: border-box;
  background-origin: padding-box;
  }

  .jjj {
  background: url(jjj.png);
  }

  { background-color: yellow;
  }

h4 {font-size: 20em;
  line-height: .0000001em;
}
h5 {font-size: 40em;
  line-height: .0000001em;
}
h6 {font-size: 60em;
  line-height: .0000001em;
}

  h2{font-size: 40em;}

  p{background: url(jl6.png);
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: contain;
  position:relative;
  text-align: center; 32em;
width: 40em;
height: 93em

}



.container1
{



}

#Postepage
{


}

#Lyricpage
{



}
